- name: Start containers for Percona Distribution for Postgresql
  shell: |
    docker run -d \
      --name={{ container_prefix }}{{ item }} \
      --restart=always \
      --network {{ network_name }} \
      -e POSTGRES_PASSWORD={{ root_password }} \
      --privileged --cgroupns=host \
      -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
      -v /var/lib/containerd \
      -p {{ pdpgsql_port + (item - 1) }}:5432 \
      antmelekhin/docker-systemd:ubuntu-24.04
  become: true
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install dependencies
  shell: |
    docker exec {{ container_prefix }}{{ item }} apt-get update
    docker exec {{ container_prefix }}{{ item }} apt-get -y install wget gnupg2 lsb-release curl
  become: true
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Release
  shell: |
    docker exec {{ container_prefix }}{{ item }} wget https://repo.percona.com/apt/percona-release_latest.generic_all.deb
    docker exec {{ container_prefix }}{{ item }} dpkg -i ./percona-release_latest.generic_all.deb
    docker exec {{ container_prefix }}{{ item }} percona-release enable ppg-{{ pdpgsql_version }}
  become: true
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Distribution for PostgreSQL
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} apt-get install -y percona-postgresql-{{ pdpgsql_version }} percona-pgbackrest
  become: true
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install PG Stat Monitor
  shell: docker exec -u root {{ container_prefix }}{{ item }} apt-get install -y percona-pg-stat-monitor{{ pdpgsql_version }}
  become: true
  loop: "{{ range(1, nodes_count | int + 1) | list }}"
  when: pgsm_branch is not defined or pgsm_branch | length == 0

- name: Install PG Stat Monitor from tarball
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} sh -c '
      wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add - &&
      echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list &&
      apt-get update &&
      apt-get -y install git build-essential postgresql-server-dev-{{ pdpgsql_version }} &&
      git clone --branch {{ pgsm_branch }} https://github.com/percona/pg_stat_monitor.git &&
      cd pg_stat_monitor &&
      make USE_PGXS=1 &&
      make USE_PGXS=1 install
    '
  become: true
  loop: "{{ range(1, nodes_count | int + 1) | list }}"
  when: pgsm_branch is defined or pgsm_branch | length > 0

- name: Start Percona distribution for Postgresql
  shell: docker exec -u root {{ container_prefix }}{{ item }} systemctl start postgresql
  become: true
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Wait 5 seconds for Percona Distribution for postgresql to start
  pause:
    seconds: 5
