- name: Prepare Container for PostgreSQL
  shell: |
    docker run --rm -d --name="{{ container_prefix }}{{ item }}" \
      --network="pmm-qa" \
      --privileged --cgroupns=host -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
      -v /var/lib/containerd \
      -v ./ssl:/ssl \
      antmelekhin/docker-systemd:ubuntu-24.04
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install dependencies
  shell: |
    docker exec {{ container_prefix }}{{ item }} apt-get update
    docker exec {{ container_prefix }}{{ item }} apt-get -y install wget gnupg2 lsb-release curl
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Release
  shell: |
    docker exec {{ container_prefix }}{{ item }} wget https://repo.percona.com/apt/percona-release_latest.generic_all.deb
    docker exec {{ container_prefix }}{{ item }} dpkg -i ./percona-release_latest.generic_all.deb
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Enable Percona Distribution for PostgreSQL repository
  shell: docker exec {{ container_prefix }}{{ item }} percona-release setup ppg-${pgsql_version}
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Distribution for PostgreSQL
  shell: |
    docker exec {{ container_prefix }}{{ item }} apt install -y \
      percona-postgresql-{{ pg_version }} \
      percona-postgresql-{{ pg_version }}-repack \
      percona-postgresql-{{ pg_version }}-pgaudit \
      percona-pgbackrest \
      percona-patroni \
      percona-postgresql-contrib
  loop: "{{ range(1, nodes_count | int + 1) | list }}"