- name: Prepare Container for PostgreSQL
  shell: |
    docker run --rm -d --name="{{ container_prefix }}{{ item }}" \
      --network="pmm-qa" \
      --privileged --cgroupns=host -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
      -v /var/lib/containerd \
      -v ./ssl:/ssl \
      antmelekhin/docker-systemd:rockylinux-9
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install dependencies
  shell: |
    docker exec {{ container_prefix }}{{ item }} dnf -y install wget gnupg2
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Release
  shell: |
    docker exec {{ container_prefix }}{{ item }} wget https://repo.percona.com/yum/percona-release-latest.noarch.rpm
    docker exec {{ container_prefix }}{{ item }} dnf install -y ./percona-release-latest.noarch.rpm
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Enable Percona Distribution for PostgreSQL repository
  shell: docker exec {{ container_prefix }}{{ item }} percona-release enable ppg-{{ pg_version }} release
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Distribution for PostgreSQL
  shell: |
    docker exec {{ container_prefix }}{{ item }} dnf install -y \
      percona-postgresql{{ pg_version }}-server
      percona-pg_repack{{ pg_version }}
      percona-pgaudit{{ pg_version }}
      percona-pgbackrest \
      percona-patroni \
#      percona-pgbouncer \
#      percona-pgaudit{{ pg_version }}_set_user \
#      percona-pgbadger \
#      percona-wal2json{{ pg_version }} \
#      percona-postgresql{{ pg_version }}-contrib \
#      percona-haproxy \
#      percona-pg_gather
  loop: "{{ range(1, nodes_count | int + 1) | list }}"
