- name: Prepare Container for PostgreSQL
  shell: |
    docker run --rm -d --name="{{ container_prefix }}{{ item }}" \
      --network="pmm-qa" \
      --privileged --cgroupns=host -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
      -v /var/lib/containerd \
      -v ./ssl:/ssl \
      antmelekhin/docker-systemd:rockylinux-9
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Perl (IPC::RUN) on Rocky linux 9
  shell: |
    docker exec {{ container_prefix }}{{ item }} dnf install -y dnf-plugins-core
    docker exec {{ container_prefix }}{{ item }} dnf module enable llvm-toolset
    docker exec {{ container_prefix }}{{ item }} dnf config-manager --set-enabled crb
    docker exec {{ container_prefix }}{{ item }} dnf install perl-IPC-Run -y
  loop: "{{ range(1, nodes_count | int + 1) | list }}"
  ignore_errors: yes

- name: Install dependencies
  shell: |
    docker exec {{ container_prefix }}{{ item }} dnf -y install wget gnupg2
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Release
  shell: |
    docker exec {{ container_prefix }}{{ item }} wget https://repo.percona.com/yum/percona-release-latest.noarch.rpm
    docker exec {{ container_prefix }}{{ item }} dnf install -y ./percona-release-latest.noarch.rpm
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Enable Percona Distribution for PostgreSQL repository
  shell: docker exec {{ container_prefix }}{{ item }} percona-release enable ppg-{{ pg_version }} release
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Distribution for PostgreSQL
  shell: |
    docker exec {{ container_prefix }}{{ item }} dnf install -y \
      percona-postgresql-client-common \
      percona-postgresql-common \
      percona-postgresql{{ pg_version }} \
      percona-postgresql{{ pg_version }}-contrib \
      percona-postgresql{{ pg_version }}-debuginfo \
      percona-postgresql{{ pg_version }}-devel \
      percona-postgresql{{ pg_version }}-docs \
      percona-postgresql{{ pg_version }}-libs \
      percona-postgresql{{ pg_version }}-llvmjit \
      percona-postgresql{{ pg_version }}-plpython3 \
      percona-postgresql{{ pg_version }}-plperl \
      percona-postgresql{{ pg_version }}-pltcl \
      percona-postgresql{{ pg_version }}-server \
      percona-postgresql{{ pg_version }}-test \
      percona-postgresql{{ pg_version }}-contrib-debuginfo \
      percona-postgresql{{ pg_version }}-debuginfo \
      percona-postgresql{{ pg_version }}-debugsource \
      percona-postgresql{{ pg_version }}-devel-debuginfo \
      percona-postgresql{{ pg_version }}-libs-debuginfo \
      percona-postgresql{{ pg_version }}-plperl-debuginfo \
      percona-postgresql{{ pg_version }}-pltcl-debuginfo \
      percona-postgresql{{ pg_version }}-plpython3-debuginfo \
      percona-postgresql{{ pg_version }}-server-debuginfo
  loop: "{{ range(1, nodes_count | int + 1) | list }}"
