- name: Install Percona Distribution for PostgreSQL
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} /bin/sh -c '
      dnf module disable -y postgresql
      dnf install -y https://repo.percona.com/yum/percona-release-latest.noarch.rpm
      percona-release enable ppg-{{ pdpgsql_version }}
      dnf install -y percona-pg-stat-monitor{{ pdpgsql_version }} percona-postgresql{{ pdpgsql_version }}-server percona-patroni etcd python3-python-etcd percona-pgbackrest
      patroni --version
    '
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Start postgres service in container
  shell: docker exec -u root {{ container_prefix }}{{ item }} service postgresql start
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Start etcd service
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} /bin/sh -c '
      rm -rf /var/lib/pgsql/{{ pdpgsql_version }}/data/*
      ps aux | grep postgres
      rm -f /data/db/postmaster.pid
      mkdir -p /data/db/logs
      mkdir -p /pg_wal
      touch /dev/watchdog
      nohup etcd --config-file /etcd.conf.yaml > /data/db/logs/etcd.log 2>&1 &
      chown -R postgres:postgres /data/db/logs
      chown -R postgres:postgres /dev/watchdog
      chown -R postgres:postgres /pg_wal
    '
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Wait 5 seconds to etcd to start
  pause:
    seconds: 5
