- name: Install Percona Distribution for Postgres
  include_tasks: tasks/install-pdpgsql.yml

- name: Install and add pmm client.
  include_tasks: ../tasks/install_pmm_client.yml
  vars:
    container_name: "{{ container_prefix }}_{{ item }}"
  loop: "{{ range(1, nodes_count | int + 1) | list }}"