- name: Start PostgreSQL containers
  shell: |
    docker run -d --name={{ container_prefix }}{{ item }} \
      --restart=always \
      --network {{ network_name }} \
      --privileged --cgroupns=host \
      -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
      -v /var/lib/containerd \
      -v {{ data_dir }}/node{{ item }}/data:/data/db \
      -v {{ data_dir }}/node{{ item }}/etcd.conf.yaml:/etcd.conf.yaml:ro \
      -v {{ data_dir }}/node{{ item }}/patroni.yml:/etc/patroni/patroni.yml:ro \
      -p $(({{ pdpgsql_port }} + {{ item }} - 1)):5432 \
      oraclelinux:9 sleep infinity
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install required packages in Oracle Linux container
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} /bin/sh -c '
      dnf config-manager --set-enabled ol9_codeready_builder
      dnf install perl-IPC-Run -y
      dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
      dnf config-manager --set-enabled crb
      dnf install -y python3-pip python3-devel binutils python3-click
    '
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Distribution for PostgreSQL
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} /bin/sh -c '
      dnf module disable -y postgresql
      dnf install -y https://repo.percona.com/yum/percona-release-latest.noarch.rpm
      percona-release enable ppg-{{ pdpgsql_version }}
      dnf install -y percona-pg-stat-monitor{{ pdpgsql_version }} percona-postgresql{{ pdpgsql_version }}-server percona-patroni etcd python3-python-etcd percona-pgbackrest
      patroni --version
    '
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Start postgres service in container
  shell: docker exec -u root {{ container_prefix }}{{ item }} service postgresql start
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Start etcd service
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} /bin/sh -c '
      rm -rf /var/lib/pgsql/{{ pdpgsql_version }}/data/*
      ps aux | grep postgres
      rm -f /data/db/postmaster.pid
      mkdir -p /data/db/logs
      mkdir -p /pg_wal
      touch /dev/watchdog
      nohup etcd --config-file /etcd.conf.yaml > /data/db/logs/etcd.log 2>&1 &
      chown -R postgres:postgres /data/db/logs
      chown -R postgres:postgres /dev/watchdog
      chown -R postgres:postgres /pg_wal
    '
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Wait 5 seconds to etcd to start
  pause:
    seconds: 5
