- name: Start containers for Percona Distribution for Postgresql
  shell: |
    docker run -d \
      --name={{ container_prefix }}{{ item }} \
      --restart=always \
      --network {{ network_name }} \
      -e POSTGRES_PASSWORD={{ root_password }} \
      --privileged --cgroupns=host \
      -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
      -v /var/lib/containerd \
      -p {{ pdpgsql_port + (item - 1) }}:5432 \
      antmelekhin/docker-systemd:ubuntu-24.04
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install dependencies
  shell: |
    sudo docker exec {{ container_prefix }}{{ item }} apt-get update
    sudo docker exec {{ container_prefix }}{{ item }} apt-get -y install wget gnupg2 lsb-release curl
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Release
  shell: |
    sudo docker exec {{ container_prefix }}{{ item }} wget https://repo.percona.com/apt/percona-release_latest.generic_all.deb
    sudo docker exec {{ container_prefix }}{{ item }} dpkg -i ./percona-release_latest.generic_all.deb
    sudo docker exec {{ container_prefix }}{{ item }} percona-release enable ppg-{{ pdpgsql_version }}
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Distribution for PostgreSQL
  shell: |
    sudo docker exec -u root {{ container_prefix }}{{ item }} apt-get install -y percona-postgresql-{{ pdpgsql_version }} percona-pgbackrest percona-pg-stat-monitor{{ pdpgsql_version }}
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Start Percona distribution for Postgresql
  shell: sudo docker exec -u root {{ container_prefix }}{{ item }} systemctl start postgresql
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Wait 5 seconds for Percona Distribution for postgresql to start
  pause:
    seconds: 5