- name: Remove old data folders
  shell: 'rm -fr {{ data_dir }}'

- name: Create data directories
  file:
    path: "{{ data_dir }}/node{{ item }}/data"
    state: directory
    mode: '0755'
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Generate pg_hba.conf for primary node
  template:
    src: data/pg_hba.conf.j2
    dest: "{{ data_dir }}/node1/pg_hba.conf"

- name: Generate pg_hba.conf for replica node
  template:
    src: data/pg_hba_replica.conf.j2
    dest: "{{ data_dir }}/node{{ item }}/pg_hba.conf"
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

- name: Fix permissions on data directory
  become: true
  file:
    path: "{{ data_dir }}/node{{ item }}/data"
    owner: 1001
    group: 1001
    recurse: yes
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Start PostgreSQL primary container
  shell: |
    docker rm -f pdpgsql_pmm_replication_{{ pg_version }}_1 || true
    docker run -d \
      --name=pdpgsql_pmm_replication_{{ pg_version }}_1 \
      --restart=always \
      --network {{ network_name }} \
      -e POSTGRES_PASSWORD={{ root_password }} \
      --privileged --cgroupns=host \
      -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
      -v /var/lib/containerd \
      -v {{ data_dir }}/node1/data:/data/db \
      -v ./data/postgresql-primary.conf:/etc/postgresql/postgresql.conf:ro \
      -v {{ data_dir }}/node1/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro \
      -p {{ pdpgsql_port }}:5432 \
      antmelekhin/docker-systemd:rockylinux-9 \
      -c config_file=/etc/postgresql/postgresql.conf

- name: Install Percona distribution for Postgresql
  include_tasks: tasks/install-pdpgsql.yml

- name: Create replication user
  shell: docker exec -u postgres {{ container_prefix }}1 psql -c "CREATE ROLE {{ replication_user }} WITH REPLICATION LOGIN ENCRYPTED PASSWORD '{{ replication_password }}';"

- name: Wipe replica data directory before basebackup
  shell: docker exec -u root {{ container_prefix }}{{ item }} rm -rf /data/db/*
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

- name: Create PostgreSQL user 'pmm' with password
  shell: |
    docker exec -u postgres {{ container_prefix }}1 bash -c '
      psql -U postgres -d {{ db_name | default("postgres") }} -c "
        CREATE USER pmm WITH PASSWORD '\''pmm'\'';
        GRANT pg_monitor TO pmm;
      "
    '

- name: Create custom database
  shell: |
    docker exec -u postgres {{ container_prefix }}1 bash -c "
      echo \"
      CREATE DATABASE test_database;
      \\c test_database
      GRANT CONNECT ON DATABASE test_database TO pmm;
      GRANT USAGE ON SCHEMA public TO pmm;
      GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO pmm;
      ALTER DEFAULT PRIVILEGES IN SCHEMA public
        GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO pmm;
      \" | psql -U postgres -v ON_ERROR_STOP=1
    "

- name: Run pg_basebackup from primary to replica
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} bash -c "
      export PGPASSWORD='{{ replication_password }}' && \
      timeout 120s \
      pg_basebackup --pgdata=/data/db -R -v -Fp -Xs -P \
      --host=pdpgsql_pmm_replication_{{ pg_version }}_1 --port=5432 -U {{ replication_user }} > /tmp/pg_basebackup.log 2>&1
    "
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

- name: Remove temporary backup container via shell
  shell: docker rm -f {{ container_prefix }}{{ item }}
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

- name: Fix permissions on data directory
  become: true
  file:
    path: "{{ data_dir }}/node{{ item }}/data"
    owner: 1001
    group: 1001
    recurse: yes
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

- name: Restart Percona Distribution PostgreSQL container with custom command via shell
  shell: |
    docker run -d \
      --name={{ container_prefix }}{{ item }} \
      --network {{ network_name }} \
      -e POSTGRES_PASSWORD={{ root_password }} \
      -v {{ data_dir }}/node{{ item }}/data:/data/db \
      -v ./data/postgres-replica.conf:/etc/postgresql/postgresql.conf:ro \
      -v {{ data_dir }}/node1/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro \
      -p $(({{ pdpgsql_port }} + {{ item }} - 1)):5432 \
      {{ docker_repo }}:{{ pg_version }} \
      -c config_file=/etc/postgresql/postgresql.conf
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

- name: Install pg stat monitor.
  include_tasks: ./tasks/install_pg_stat-monitor.yml
  vars:
    container_name: "{{ container_prefix }}"

- name: Install and add pmm client.
  include_tasks: ../tasks/install_pmm_client.yml
  vars:
    container_name: "{{ container_prefix }}{{ item }}"
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Get already connected services to pmm server via shell
  shell: docker exec {{ container_prefix }}1 sh -c 'curl --location --insecure -u"admin:{{ admin_password }}" -s --request GET "http://{{ pmm_server_ip }}:{{ "80" if pmm_server_ip is match('^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.|$)){4}$') else "8080" }}/v1/management/services" | jq -r ".services[].service_name"'
  register: pmm_server_services

- name: Display already connected services to pmm server
  debug:
    msg: "{{ pmm_server_services.stdout | split('\n') }}"

- name: Find out if service is already connected to pmm server
  block:
    - name: Loop through percona servers
      set_fact:
        random_service_name_value: "_{{ 9999 | random + 1 }}"
      loop: "{{ range(1, nodes_count | int + 1) | list }}"
      when: "('pdpgsql_pmm_' ~ pg_version ~ '_' ~ item) in pmm_server_services.stdout"

- name: Add service to pmm server via shell
  shell: docker exec {{ container_prefix }}{{ item }} pmm-admin add postgresql --username=pmm --password=pmm --cluster=pdpgsql_replication_cluster --environment=pdpgsql_replication_environment --query-source=pgstatmonitor pdpgsql_pmm_replication_{{ pg_version }}_{{ item }}{{ random_service_name_value }} --debug 127.0.0.1:5432
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Create pg_custom_publication view using psql via shell
  shell: |
    docker exec -u postgres {{ container_prefix }}1 bash -c 'psql -U postgres -d postgres <<SQL
    CREATE OR REPLACE VIEW pg_custom_publication AS
    SELECT
      pubname,
      puballtables,
      pubinsert,
      pubupdate,
      pubdelete
    FROM
      pg_publication;
    SQL'

- name: Create pg_stat_statements extension via shell
  shell: |
    docker exec -u postgres {{ container_prefix }}1 psql -U postgres -d test_database -c "
      CREATE EXTENSION IF NOT EXISTS pg_stat_monitor;
      SELECT pg_stat_monitor_version();
    "

- name: Copy sample load into container via shell
  shell: docker cp ../data/load_pgsql.sql {{ container_prefix }}1:/load_pgsql.sql

- name: Start permanent SQL load in background via shell
  shell: |
    docker exec {{ container_prefix }}1 sh -c 'nohup bash -c "while true; do echo Starting insert at \$(date +\"%Y-%m-%d %H:%M:%S\"); psql -U postgres -d test_database -f /load_pgsql.sql; sleep 30; done" > /tmp/sql_loop.log 2>&1 &'