- name: Chance to correct nodes count for replication
  set_fact:
    nodes_count: 2
  when: nodes_count | int < 2 and setup_type == "replication"

- name: Remove old data folders
  shell: 'rm -fr {{ data_dir }}'

- name: Create data directories
  file:
    path: "{{ data_dir }}/node{{ item }}/data"
    state: directory
    mode: '0755'
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Generate pg_hba.conf for primary node
  template:
    src: data/pg_hba.conf.j2
    dest: "{{ data_dir }}/node1/pg_hba.conf"

- name: Generate pg_hba.conf for replica node
  template:
    src: data/pg_hba_replica.conf.j2
    dest: "{{ data_dir }}/node{{ item }}/pg_hba.conf"
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

- name: Fix permissions on data directory
  become: true
  file:
    path: "{{ data_dir }}/node{{ item }}/data"
    owner: 1001
    group: 1001
    recurse: yes
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Start containers for Percona Distribution for Postgresql
  shell: |
    docker run -d \
      --name={{ container_prefix }}{{ item }} \
      --restart=always \
      --network {{ network_name }} \
      -e POSTGRES_PASSWORD={{ root_password }} \
      --privileged --cgroupns=host \
      -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
      -v /var/lib/containerd \
      -p {{ pdpgsql_port + (item - 1) }}:5432 \
      antmelekhin/docker-systemd:ubuntu-24.04
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install dependencies
  shell: |
    docker exec {{ container_prefix }}{{ item }} apt-get update
    docker exec {{ container_prefix }}{{ item }} apt-get -y install wget gnupg2 lsb-release curl
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Release
  shell: |
    docker exec {{ container_prefix }}{{ item }} wget https://repo.percona.com/apt/percona-release_latest.generic_all.deb
    docker exec {{ container_prefix }}{{ item }} dpkg -i ./percona-release_latest.generic_all.deb
    docker exec {{ container_prefix }}{{ item }} percona-release enable ppg-{{ pdpgsql_version }}
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Install Percona Distribution for PostgreSQL
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} apt-get install -y percona-pg-stat-monitor{{ pdpgsql_version }} percona-postgresql-{{ pdpgsql_version }} percona-pgbackrest
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Stop Percona distribution for Postgresql
  shell: docker exec -u root {{ container_prefix }}{{ item }} systemctl stop postgresql
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Copy config files to primary node
  shell: |
    docker cp  ./data/postgresql-primary.conf {{ container_prefix }}1:/etc/postgresql/postgresql.conf
    docker cp  {{ data_dir }}/node1/pg_hba.conf {{ container_prefix }}1:/etc/postgresql/pg_hba.conf

- name: Copy config files to replica nodes
  shell: |
    docker cp  ./data/postgres-replica.conf {{ container_prefix }}1:/etc/postgresql/postgresql.conf
    docker cp  {{ data_dir }}/node{{ item }}/pg_hba.conf {{ container_prefix }}{{ item }}:/etc/postgresql/pg_hba.conf
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

- name: Start Percona distribution for Postgresql
  shell: docker exec -u root {{ container_prefix }}{{ item }} systemctl start postgresql
  loop: "{{ range(1, nodes_count | int + 1) | list }}"

- name: Wait 5 seconds for Percona Distribution for postgresql to start
  pause:
    seconds: 5

- name: Create replication user
  shell: docker exec -u postgres {{ container_prefix }}1 psql -c "CREATE ROLE {{ replication_user }} WITH REPLICATION LOGIN ENCRYPTED PASSWORD '{{ replication_password }}';"

- name: Wipe replica data directory before basebackup
  shell: docker exec {{ container_prefix }}{{ item }} rm -rf /var/lib/pgsql/16/data
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

- name: Create PostgreSQL user 'pmm' with password
  shell: |
    docker exec -u postgres {{ container_prefix }}1 bash -c '
      psql -U postgres -d {{ db_name | default("postgres") }} -c "
        CREATE USER pmm WITH PASSWORD '\''pmm'\'';
        GRANT pg_monitor TO pmm;
      "
    '

- name: Create custom database
  shell: |
    docker exec -u postgres {{ container_prefix }}1 bash -c "
      echo \"
      CREATE DATABASE test_database;
      \\c test_database
      GRANT CONNECT ON DATABASE test_database TO pmm;
      GRANT USAGE ON SCHEMA public TO pmm;
      GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO pmm;
      ALTER DEFAULT PRIVILEGES IN SCHEMA public
        GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO pmm;
      \" | psql -U postgres -v ON_ERROR_STOP=1
    "

- name: Run pg_basebackup from primary to replica
  shell: |
    docker exec -u root {{ container_prefix }}{{ item }} bash -c "
      export PGPASSWORD='{{ replication_password }}' && \
      timeout 120s \
      pg_basebackup --pgdata=/data/db -R -v -Fp -Xs -P \
      --host={{ container_prefix}}1 --port=5432 -U {{ replication_user }}
    "
  loop: "{{ range(2, nodes_count | int + 1) | list }}"

#- name: Remove temporary backup container via shell
#  shell: docker rm -f {{ container_prefix }}{{ item }}
#  loop: "{{ range(2, nodes_count | int + 1) | list }}"
#
#- name: Fix permissions on data directory
#  become: true
#  file:
#    path: "{{ data_dir }}/node{{ item }}/data"
#    owner: 1001
#    group: 1001
#    recurse: yes
#  loop: "{{ range(2, nodes_count | int + 1) | list }}"
#
#- name: Install pg stat monitor.
#  include_tasks: ./tasks/install_pg_stat-monitor.yml
#  vars:
#    container_name: "{{ container_prefix }}"
#
#- name: Install and add pmm client.
#  include_tasks: ../tasks/install_pmm_client.yml
#  vars:
#    container_name: "{{ container_prefix }}{{ item }}"
#  loop: "{{ range(1, nodes_count | int + 1) | list }}"
#
#- name: Get already connected services to pmm server via shell
#  shell: docker exec {{ container_prefix }}1 sh -c 'curl --location --insecure -u"admin:{{ admin_password }}" -s --request GET "http://{{ pmm_server_ip }}:{{ "80" if pmm_server_ip is match('^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.|$)){4}$') else "8080" }}/v1/management/services" | jq -r ".services[].service_name"'
#  register: pmm_server_services
#
#- name: Display already connected services to pmm server
#  debug:
#    msg: "{{ pmm_server_services.stdout | split('\n') }}"
#
#- name: Find out if service is already connected to pmm server
#  block:
#    - name: Loop through percona servers
#      set_fact:
#        random_service_name_value: "_{{ 9999 | random + 1 }}"
#      loop: "{{ range(1, nodes_count | int + 1) | list }}"
#      when: "('pdpgsql_pmm_' ~ pdpgsql_version ~ '_' ~ item) in pmm_server_services.stdout"
#
#- name: Add service to pmm server via shell
#  shell: docker exec {{ container_prefix }}{{ item }} pmm-admin add postgresql --username=pmm --password=pmm --cluster=pdpgsql_replication_cluster --environment=pdpgsql_replication_environment --query-source=pgstatmonitor {{ container_prefix}}{{ item }}{{ random_service_name_value }} --debug 127.0.0.1:5432
#  loop: "{{ range(1, nodes_count | int + 1) | list }}"
#
#- name: Create pg_custom_publication view using psql via shell
#  shell: |
#    docker exec -u postgres {{ container_prefix }}1 bash -c 'psql -U postgres -d postgres <<SQL
#    CREATE OR REPLACE VIEW pg_custom_publication AS
#    SELECT
#      pubname,
#      puballtables,
#      pubinsert,
#      pubupdate,
#      pubdelete
#    FROM
#      pg_publication;
#    SQL'
#
#- name: Create pg_stat_statements extension via shell
#  shell: |
#    docker exec -u postgres {{ container_prefix }}1 psql -U postgres -d test_database -c "
#      CREATE EXTENSION IF NOT EXISTS pg_stat_monitor;
#      SELECT pg_stat_monitor_version();
#    "
#
#- name: Copy sample load into container via shell
#  shell: docker cp ../data/load_pgsql.sql {{ container_prefix }}1:/load_pgsql.sql
#
#- name: Start permanent SQL load in background via shell
#  shell: |
#    docker exec {{ container_prefix }}1 sh -c 'nohup bash -c "while true; do echo Starting insert at \$(date +\"%Y-%m-%d %H:%M:%S\"); psql -U postgres -d test_database -f /load_pgsql.sql; sleep 30; done" > /tmp/sql_loop.log 2>&1 &'