name: PMM_PSMDB_PBM

on:
  workflow_dispatch:
    inputs:
      psmdb_version:
        description: "psmdb version"
        default: "latest"
        required: false
      pbm_version:
        description: "pbm version"
        default: "latest"
        required: false
      pmm_version:
        description: "pmm3-client version"
        default: "3-dev-latest"
        required: false
      pmm_repo:
        description: "pmm3-client repo"
        default: "experimental"
        required: false
      pmm_image:
        description: "pmm-server docker image"
        default: "perconalab/pmm-server:3-dev-latest"
        required: false

jobs:
  test_replica_set:
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    env:
      PSMDB_VERSION: ${{ inputs.psmdb_version || 'latest' }}
      PBM_VERSION: ${{ inputs.pbm_version || 'latest' }}
      PMM_CLIENT_VERSION: ${{ inputs.pmm_version || '3-dev-latest' }}
      PMM_REPO: ${{ github.event.inputs.pmm_repo || 'experimental' }}
      PMM_IMAGE: ${{ inputs.pmm_image || 'perconalab/pmm-server:3-dev-latest' }}
    steps:
    - uses: actions/checkout@v2
    - name: test-rs
      run: |
        ./start-rs.sh
      working-directory: ./pmm_psmdb-pbm_setup

  test_sharded_cluster:
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    env:
      PSMDB_VERSION: ${{ inputs.psmdb_version || 'latest' }}
      PBM_VERSION: ${{ inputs.pbm_version || 'latest' }}
      PMM_CLIENT_VERSION: ${{ inputs.pmm_version || '3-dev-latest' }}
      PMM_REPO: ${{ github.event.inputs.pmm_repo || 'experimental' }}
      PMM_IMAGE: ${{ inputs.pmm_image || 'perconalab/pmm-server:3-dev-latest' }}
    steps:
    - uses: actions/checkout@v2
    - name: test-sharded
      run: |
        ./start-sharded.sh
      working-directory: ./pmm_psmdb-pbm_setup

  test_diff_auth:
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    env:
      PSMDB_VERSION: ${{ inputs.psmdb_version || 'latest' }}
      PBM_VERSION: ${{ inputs.pbm_version || 'latest' }}
      PMM_CLIENT_VERSION: ${{ inputs.pmm_version || '3-dev-latest' }}
      PMM_REPO: ${{ github.event.inputs.pmm_repo || 'experimental' }}
      PMM_IMAGE: ${{ inputs.pmm_image || 'perconalab/pmm-server-fb:PR-4031-b9c86c5' }}
    steps:
    - uses: actions/checkout@v3
    - name: test-auth
      run: |
        ./test-auth.sh
      working-directory: ./pmm_psmdb_diffauth_setup
